<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="data/icons/coin.png">
         <run
               class="spritey.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="spritey.rcp.Perspective"
            id="spritey.perspective"
            name="Spritey perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="spritey.rcp.application"
            name="Spritey">
         <property
               name="windowImages"
               value="data/icons/coin.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="spritey.rcp.views.SpriteTree"
            id="spritey.rcp.views.spriteTree"
            name="Sprite Tree">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="spritey.perspective">
         <view
               closeable="false"
               id="spritey.rcp.views.spriteTree"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="bottom"
               relative="spritey.rcp.views.spriteTree">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="spritey.rcp.providers.SpriteTreeDataProvider"
            id="spritey.rcp.providers.spriteTreeDataProvider"
            labelProvider="spritey.rcp.providers.SpriteTreeDataProvider"
            name="Sprite Tree Data Provider">
         <triggerPoints>
            <or>
               <equals
                     value="null">
               </equals>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
               <equals
                     value="null">
               </equals>
            </or>
         </possibleChildren>
         <enablement>
            <or>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
               <equals
                     value="null">
               </equals>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="spritey.rcp.views.spriteTree">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="spritey.rcp.providers.spriteTreeDataProvider">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="spritey.rcp.editors.SheetEditor"
            default="false"
            id="spritey.rcp.editors.sheetEditor"
            name="Sprite Sheet Editor">
      </editor>
   </extension>

</plugin>
