<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="data/icons/coin.png">
         <run
               class="spritey.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="spritey.rcp.Perspective"
            id="spritey.perspective"
            name="Spritey perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="spritey.rcp.application"
            name="Spritey">
         <property
               name="windowImages"
               value="data/icons/coin.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="spritey.rcp.views.navigator.SpriteTree"
            icon="data/icons/hierarchy.gif"
            id="spritey.rcp.views.spriteTree"
            name="Sprite Tree">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="spritey.perspective">
         <view
               closeable="false"
               id="spritey.rcp.views.spriteTree"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="bottom"
               relative="spritey.rcp.views.spriteTree">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="spritey.rcp.views.navigator.SpriteTreeContentProvider"
            id="spritey.rcp.providers.spriteTreeDataProvider"
            labelProvider="spritey.rcp.views.navigator.SpriteTreeLabelProvider"
            name="Sprite Tree Data Provider">
         <triggerPoints>
            <or>
               <equals
                     value="null">
               </equals>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
               <equals
                     value="null">
               </equals>
            </or>
         </possibleChildren>
         <enablement>
            <or>
               <instanceof
                     value="spritey.core.node.Node">
               </instanceof>
               <equals
                     value="null">
               </equals>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="spritey.rcp.views.spriteTree">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="spritey.rcp.providers.spriteTreeDataProvider">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="spritey.rcp.editors.SheetEditor"
            default="false"
            id="spritey.rcp.editors.sheetEditor"
            name="Sprite Sheet Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="spritey.rcp.handlers.NewSpriteSheetHandler"
            id="spritey.command.newSpriteSheet"
            name="&amp;New">
      </command>
      <command
            defaultHandler="spritey.rcp.handlers.AddSpriteHandler"
            id="spritey.command.addSprite"
            name="Add Sprite">
      </command>
      <command
            defaultHandler="spritey.rcp.handlers.AddFolderHandler"
            id="spritey.command.addFolder"
            name="Add Folder">
      </command>
      <command
            id="spritey.command.deleteSprites"
            name="Delete Sprite(s)">
      </command>
      <command
            defaultHandler="spritey.rcp.handlers.AddGroupHandler"
            id="spritey.command.addGroup"
            name="Add Group">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="&amp;File">
            <command
                  commandId="spritey.command.newSpriteSheet"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:spritey.rcp.views.spriteTree">
         <separator
               name="spritey.rcp.separator3"
               visible="true">
         </separator>
         <command
               commandId="spritey.command.addSprite"
               icon="data/icons/add.png"
               style="push">
         </command>
         <command
               commandId="spritey.command.addFolder"
               icon="data/icons/folder.png"
               style="push">
         </command>
         <command
               commandId="spritey.command.addGroup"
               icon="data/icons/group_add.png"
               style="push">
         </command>
         <command
               commandId="spritey.command.deleteSprites"
               icon="data/icons/cross.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="spritey.rcp.editors.editparts.SheetEditPart"
            class="spritey.rcp.views.properties.adapters.PropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="spritey.core.node.Node"
            class="spritey.rcp.views.properties.adapters.PropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="spritey.rcp.editors.editparts.SpriteEditPart"
            class="spritey.rcp.views.properties.adapters.PropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="spritey.rcp.handlers.DeleteSpritesHandler"
            commandId="spritey.command.deleteSprites">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="spritey.core.node.Node">
                     </instanceof>
                     <instanceof
                           value="spritey.rcp.editors.editparts.SpriteEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
